@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.brand-image {
    margin-top: 0.25rem !important;
    width: 25px !important;
}

.text-theme {
    color: #3498db;
}

/* .table-bg-theme {
    background-color: #3498db;
    color:#fff;
} */

.info-img {
    width: 80%;
}

.nav-item > .nav-link > i {
    color: #3498db !important;
}

.scp-breadcrumb {
    margin: 2px;
}

.cus-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cus-btn i {
  margin-right: 0.35rem;
}
